* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #119776;
}

h1 {
  text-align: center;
}
.section {
  background-color: #fff;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}

footer {
  text-align: center;
}
